body {
		background-color: #2b3647;
		color:white;
	}
	p ul li{
		color: white;
	}
	ul li::before{
		color: white;
	}
	
	a:link {
	  color: aqua;
	}

	/* visited link */
	a:visited {
	  color: Plum;
	}

	/* mouse over link */
	a:hover {
	  color: hotpink;
	}

	/* selected link */
	a:active {
	  color: blue;
	}
	
iframe {
	position: fixed;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 999999;
	height: 100%;
}

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav li {
	display: inline-block ;
  }
  
  .topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .topnav li a:hover {
	background-color: #111;
  }